{
  "branches": [
    "main",
    {
      "name": "test",
      "prerelease": "test",
      "channel": "test",
      "tag": "test"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": []
      }
    ]
  ]
}