body {
    font-family: Calibri, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
}

.menu-text {
  color: white;
}

.menu-text:hover {
 border-bottom: 1px solid white !important;
}

.quarto-listing-sort {
  display: none;
}

.navbar-title {
  color: white;
}

.navbar-title:hover {
  border-bottom: 1px solid white !important;
}

.list a {
  color: #a0b128 !important;
}

.list a:hover {
  border-bottom: 1px solid #7c8921 !important;
  color: #7c8921 !important;
}

.nav-logo {
    height: 40px;  /* Adjust as needed */
    vertical-align: middle;
    margin-right: 10px;
}

.logo-header {
  padding: 0px 0px 24px;
}
}
